<form class="col s12">
    <div class="input-field col s6">
        <input type="text" id="add-family-name">
        <label for="add-family-name">Name</label>
    </div>

    <div class="input-field col s3">
        <input type="text" id="add-family-age">
        <label for="add-family-age">Age</label>
    </div>
    <div class="input-field col s3">
        <input type="text" id="add-family-gender">
        <label for="add-family-gender"> Gender </label>
    </div>
    <div class="input-field col s12">
        <textarea id="add-family-skills" class="materialize-textarea validate" placeholder="Use commas to seperate skills"></textarea>
        <label for="add-family-skills">Skills</label>
    </div>
</form>

<div class="row">
    <button class="col s4 offset-s4" type="button" id="add-family-submit">Submit New Member</button>
</div>

