<table class="striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Skills</th>
    </tr>
  </thead>
  <tbody>
  {{> familyInfo}}
  </tbody>
</table>

<div class="row">
  <button class="col s4 offset-s4" type="button" id="table-add-btn">Add Family Member</button>
</div>
